.container-table {
    padding: 10px;
    text-align: center; 
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

.flag {
    width: 20%;
    height: 10%;
}