.card {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center; 
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

.flag {
    width: 20%;
    height: 10%;
}